body {
  background-color: whitesmoke;
}

.form-group {
  position: relative;
}

input ~ span {
  position: absolute;
  bottom: 10%;
  right: 20px;
}

input:invalid + span:after {
  content: "✖";
  padding-left: 5px;
}

input:valid + span:after {
  content: "✓";
  padding-left: 5px;
}

.filter__controls {
  text-align: right;
  margin: 1rem auto;
}
.filter__controls li {
  font-size: 14px;
  list-style: none;
  display: inline-block;
  color: #111111;
  margin-right: 35px;
  position: relative;
  cursor: pointer;
}
.filter__controls li.active:after {
  opacity: 1;
}
.filter__controls li:after {
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 100%;
  background: #ca1515;
  content: "";
  opacity: 0;
}
