  <div class='container mt-5'>
    <div class='row justify-content-center'>
      {{> toast}}
      {{> tableusers}}
    </div>
  </div>

<script src="socket.io/socket.io.js"></script>
<script src="js/adminusers.js"></script>